<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ClassMapper">
    <select id="select" parameterType="Integer" resultType="ClassBasic">
        <![CDATA[
        SELECT C.*,
               NVL2(J.custpin, '1', '0') as logincustjoin,
               NVL(I.JOINCOUNT, 0)       AS joincount,
               CASE
                   WHEN TO_CHAR(C.CLASSDATE, 'yyMMdd') < TO_CHAR(SYSDATE, 'yyMMdd') THEN '1'
                   ELSE '2' END          AS classdateinfo
        FROM Class_Basic C
                 LEFT OUTER JOIN class_join_info J
                                 ON C.classpin = J.classpin
                                     AND J.custpin = #{logincustpin}
                 LEFT OUTER JOIN (SELECT CLASSPIN, COUNT(*) AS joincount
                                  FROM CLASS_JOIN_INFO
                                  GROUP BY CLASSPIN) I
                                 ON C.classpin = I.classpin
        WHERE C.classpin = #{classpin}
        ]]>
    </select>
    <select id="selectall" resultType="ClassBasic">
        SELECT *
        FROM Class_Basic
    </select>
    <select id="getpage" parameterType="ClassBasic" resultType="ClassBasic">
        SELECT C.*,
        NVL2(J.custpin,'1','0') as logincustjoin,
        NVL(I.JOINCOUNT,0) AS joincount
        FROM Class_Basic C
        LEFT OUTER JOIN class_join_info J
        ON C.classpin = J.classpin
        AND J.custpin = #{logincustpin}
        LEFT OUTER JOIN (SELECT CLASSPIN, COUNT(*) AS joincount
        FROM CLASS_JOIN_INFO
        GROUP BY CLASSPIN) I
        ON C.classpin = I.classpin
        WHERE 1=1
        <if test="location != ''">
            AND C.location LIKE '%' || #{location} || '%'
        </if>
        <if test="type != ''">
            AND C.type LIKE '%' || #{type} || '%'
        </if>
        <if test="classtitle != ''">
            AND C.classtitle LIKE '%' || #{classtitle} || '%'
        </if>
        <if test="sort == 1">
            ORDER BY C.classdate DESC
        </if>
        <if test="sort == 2">
            ORDER BY C.classdate ASC
        </if>
        <if test="sort == 3">
            ORDER BY C.amount ASC
        </if>
        <if test="sort == 4">
            ORDER BY C.amount DESC
        </if>
    </select>
    <select id="search" parameterType="String" resultType="ClassBasic">
        SELECT * FROM Class_Basic
        <where>
            <if test="classtitle != null and !classtitle.equals('') ">
                AND classtitle LIKE '%'||upper(#{classtitle})||'%'
            </if>
        </where>
    </select>
    <select id="getsearch" parameterType="String" resultType="ClassBasic">
        SELECT *
        FROM Class_Basic
        WHERE classtitle LIKE '%' || #{classtitle} || '%'
        ORDER BY classpin DESC
    </select>
    <insert id="insert" parameterType="ClassBasic">
        INSERT INTO Class_Basic (classpin, custpin, custid, nickname, type, classtitle, cooking, thumbnailimg, personal,
                                 classtime, location, address, classdesc, amount, classdate)
        VALUES (class_basic_seq.NEXTVAL,
                #{custpin},
                #{custid},
                #{nickname},
                #{type},
                #{classtitle},
                #{cooking},
                class_basic_seq.CURRVAL || '_thumb.jpg',
                #{personal},
                #{classtime},
                #{location},
                #{address},
                #{classdesc},
                #{amount},
                TO_DATE(#{classdate}, 'YYYY-MM-DD'))
    </insert>
    <select id="pingetter" resultType="Integer">
        SELECT class_basic_seq.CURRVAL
        FROM dual
    </select>
    <!--            이나은-->
    <select id="latestClass" resultType="ClassBasic">
        <![CDATA[
        SELECT *
        FROM (SELECT *
              FROM class_basic
              ORDER BY CLASSDATE desc)
        WHERE ROWNUM < 7
        ]]>
    </select>
    <select id="getmyclass" parameterType="Integer" resultType="ClassBasic">
        <![CDATA[
        SELECT *
        FROM class_basic
        WHERE classpin in (SELECT classpin
                           FROM CLASS_JOIN_INFO
                           WHERE CUSTPIN = #{CUSTPIN})
          AND ROWNUM < 4
        ]]>
    </select>
</mapper>