<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.RecipeMapper">

    <insert id="insert" parameterType="recipebasic">
        INSERT INTO recipe_basic
        VALUES (recipe_basic_seq.NEXTVAL,
                #{custpin},
                #{custid},
                #{nickname},
                #{type},
                #{situation},
                #{ingredients1},
                #{ingredients2},
                #{ingredients3},
                #{cooking},
                recipe_basic_seq.CURRVAL || '_thumb.jpg',
                recipe_basic_seq.CURRVAL || '_fin.jpg',
                #{time},
                #{recipelevel},
                #{recipetitle},
                #{recipedesc},
                SYSDATE)
    </insert>

    <select id="pingetter" resultType="Integer">
        SELECT recipe_basic_SEQ.CURRVAL
        FROM dual
    </select>

    <delete id="delete" parameterType="Integer">
        DELETE FROM recipe_basic
        WHERE recipepin = #{recipepin}
    </delete>

    <select id="getpage" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
        ORDER BY recipepin DESC
    </select>

    <select id="getsearch" parameterType="String" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
        where recipetitle LIKE '%' || #{recipetitle} || '%'
        ORDER BY recipepin DESC
    </select>

    <select id="select" parameterType="Integer" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
        WHERE recipepin = #{recipepin}
    </select>

    <select id="selectall" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
    </select>

    <select id="gettype" parameterType="String" resultType="recipebasic">
        SELECT *
        FROM (SELECT *
              FROM recipe_basic
              WHERE situation = '1') AS subtable
        WHERE type = #{type}
        ORDER BY recipepin DESC
    </select>

    <select id="getsituation" parameterType="String" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
        WHERE situation = #{situation}
        ORDER BY recipepin DESC
    </select>

<!--            이나은-->
    <select id="ranking" resultType="int">
        SELECT RECIPEPIN
        FROM goodlist
        GROUP BY RECIPEPIN
        ORDER BY COUNT(RECIPEPIN) DESC
    </select>
    <select id="latestRecipe" resultType="RecipeBasic">
        select * from recipe_basic
        order by RECIPEDATE
    </select>

    <select id="subscribeRecipe" resultType="RecipeBasic">
        select * from recipe_basic where CUSTPIN= (select SUBCUSTPIN from SUBSCRIBE where CUSTPIN= 10022)
        ORDER BY RECIPEDATE DESC
    </select>

    <select id="getMyRecipe" parameterType="String" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
        WHERE custid = #{custid}
    </select>

</mapper>